.chatApp__chat-info{
    height: 50px;
    background: var(--color-logo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    color: lightgray;
}

.chatApp__chat-info_icons{
    display: flex;
    gap: 10px;
}

.chatApp__chat-info_icons img{
    height: 24px;
    cursor: pointer;
}
